.container {
  padding: 0 2rem;
}

.backgroud {
  background-color: rgba(248, 242, 231, 0.732);
  }

.p{
  color: rgb(242, 181, 106);
  font-size: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.ant-layout-header,
.ant-layout-footer {
  color: #fff;
  background: #7dbcea;
}
[data-theme="light"] .ant-layout-header {
  background: #6aa0c7;
}
[data-theme="light"] .ant-layout-footer {
  background: #6aa0c7;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  color: #fff;
  line-height: 120px;
  background: #3ba0e9;
}

[data-theme="ligth"] .ant-layout-sider {
  background: #3499ec;
}
.ant-layout-content {
  min-height: 120px;
  color: #fff;
  line-height: 120px;
  background: rgba(16, 142, 233, 1);
}


.input {
  font-family: 'Roboto', sans-serif;
  color: rgb(34, 34, 34);
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.2rem 2.0rem;
  border-radius: 0.4rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 60%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.button {
  display: block;
  margin: 0.5em auto;
  padding: 0.5rem 0.5rem;
  font-family: 'Roboto', sans-serif;
  
}

.h2 {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
}
